<li>
  <span class="content">
    <%= comment.content %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago
  </span>
  <% if current_user?(comment.user_name) %>
      | <%= link_to 'delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, title: comment.content, class: 'btn btn-large btn-default' %>
  <% end %>
</li>