<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Messages' %>

<h1>Received messages</h1>

<%= will_paginate @messages %>

<ul class="messages">
  <%= render @messages %>
</ul>

<%= will_paginate @messages %>